{% extends "base.html.twig" %}

{% block title %}Session Debug{% endblock %}

{% block main %}
<h1>Session Debug</h1>

<div class="text-container">
    <p>Sessionens innehåll:</p>
    {% if session.card_deck is defined %}
        <p>Antal kort kvar i leken: {{ session.card_deck.cards|length }}</p>
        <ul class="card-deck">
            {% for card in session.card_deck.cards %}
                <li>{{ card.getColoredUnicode()|raw }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
