{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block main %}
<a href="{{ asset('img/mvc_flöde.png') }}">
    <img src="{{ asset('img/mvc_flöde.png') }}" alt="">
</a>
{% endblock %}