{% extends "base.html.twig" %}

{% block title %}Starta Kortspelet{% endblock %}

{% block main %}


<a href="{{ path('game_home') }}" class="btn btn-secondary">Tillbaka till landningssidan</a>
{% endblock %}