<footer class="site-footer">
    <p>
        Relevanta l채nkar till projektet
    </p>
    <a href="https://www.scb.se/contentassets/632aa89c7076419d8ec71340d738d761/mi1303_2019a01_br_x41br1902.pdf" target="_blank" rel="noopener">
        Allm채nt om Agenda 2030 
    </a>
    ---
    <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/delmal-7.2/" target="_blank" rel="noopener">
        Delm책l 7.2
    </a>
    ---
    <a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-7/delmal-7.3/" target="_blank" rel="noopener">
        Delm책l 7.3
    </a>
</footer>