{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Hejsan! Jag heter David Fritzson och jag är 26 år gammal. Jag pluggar Webbprogrammering på BTH!</p>
    <p>Jag är född och uppvuxen i Orrefors men för ett par år sen så köpte jag hus i Nybro och det är där jag bor nu.</p>
    <p>Min fritid brukar bestå av att spela discgolf, kolla på Formel 1 samt spendera tid med vänner och familj.</p>
    <a href="{{ asset('img/dgdavid.jpg') }}">
        <img src="{{ asset('img/dgdavid.jpg') }}" alt="">
    </a>
{% endblock %}
