{% extends "base.html.twig" %}

{% block title %}Lucky number{% endblock %}

{% block body %}
    <h1>Lucky number</h1>
    <p>Welcome to my awesome magical homepage.</p>
    <p>This is the current magic number: {{ number }}</p>
    <div class="about-container">
        <div class="about-image">
            <a href="{{ asset('img/crazy_cat.png') }}">
                <img src="{{ asset('img/crazy_cat.png') }}" alt="Crazy Cat">
            </a>
        </div>
        <div class="about-image">
            <iframe src="https://giphy.com/embed/ZHWyX9HYvy5tXYQAha" width="480" height="406" frameBorder="2" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
{% endblock %}
