{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
<h1>Report</h1>
<div class="text-container">
    <h2 id="kmom01">Kmom01</h2>
    <p>I detta kursmoment har vi satt ihop en me-sida med hjälp av Symfony.</p>
    <p>Jag har lite tidigare erfarenhet med objektorientering då vi har jobbat med det innan Python.</p>
    <p>Det kommer bli nytt för mig att hålla på med det innan PHP men jag ser fram emot att lära mig det på bästa sätt möjligt.</p>
    <p>PHP klassen är ganska så lika i utseende till Pythons enligt mig.</p>
    <p>För att kunna skapa en klass inom php så behöver du först ha koll på hur en klass skapas.</p>
    <p>Efter det så behöver du förstå att en klass kan ha variabler och funktioner inom sig.</p>
    <p>Inom sin klass kan ma ha datan som public, private eller protected. Men försök ha private som standard för säkerhetens skull.</p>
    <p>Med dessa förståelse om PHP klasser så har man en stadig grund att bygga vidare på.</p>
    <p>Strukturen för uppgiften me/report kändes lite skrämmande när man kollade på det första gången.</p>
    <p>Men efter att man förstå vart man ska vara och hur det fungerar tillsammans så var det inte lika skrämmande.</p>
    <p>Jag tycker att det är bra uppdelat och det tog inte så lång tid att förstå hur det fungerade tillsammans.</p>
    <p>Men det kommer nog bli mycket svårare ju mer vi jobbar med denna kursen.</p>
    <p>Efter att ha skummat igenom artiklen "PHP The Right Way" så skulle jag inte säga att jag har hittat något som har varit mer intressant eller värdefullt än de andra.</p>
    <p>Jag tvekar inte på att artiklen kommer vara till stort använding senare i kursen men just nu för mig så är det bara ord i en artiklen.</p>
    <p>Jag har svårt att ta lärdom av något om jag inte kan jobba med det samtidigt.</p>
    <p>Men något som jag tycker är viktigt med artiklen är att jag har den till hands om jag skulle stötta på ett problem eller om jag behöver hitta en lösning.</p>
    <p>Mitt "TIL" för detta kursmoment är hur vi använder Symfony för att skapa webbsidor.</p>
    <p>Jag har inte jobbat med Symfony tidigare så det var en ny kunskap att lära sig hur man satte upp det för att det skulle fungera som man ville.</p>
    <h2 id="kmom02">Kmom02</h2>
    <p>I detta kursmoment har vi jobbat med klasser i PHP</p>
    <p>I PHP använder vi arv för att låta en subklass ärva metoder och egenskaper från en basklass genom att skriva "extends", vilket gör att den nya klassen kan använda och eventuellt modifiera funktioner som redan finns definierade i basklassen.</p>
    <p>Istället för arv kan man med komposition bygga upp objekt genom att inkludera andra objekt som egenskaper, vilket skapar en "har-en" relation där man återanvänder kod utan att nödvändigtvis ärva från en annan klass.</p>
    <p>Ett interface är i princip ett kontrakt som säger att om man implementerar interfacet med "implements", måste klassen definiera de metoder som interfacet specificerar, utan att ge någon direkt implementation.</p>
    <p>Och så har vi traits, som liknar en form av återanvändning där man med "use" i en klass inkluderar metoder från en trait, så att flera klasser kan dela samma metoder utan att behöva vara i samma arvskedja.</p>
    <p>Dessa konstruktioner hjälper oss att skriva ren och modulär kod, vilket gör det enklare att underhålla och utveckla större applikationer.</p>
    <p>För att lösa denna uppgiften så började jag med att skapa mina klasser, och då följde jag bara kraven och använde övningens klasser för att få en bra start.</p>
    <p>Efter att klasserna hade en grund så skapade jag min Controller till webbsidorna och börja fylla på dem med datan.</p>
    <p>Och efter mycket om och men så fick jag något som kallades duga.</p>
    <p>Jag är faktiskt ganska nöjd med koden som jag fick tillslut. Det känns inte som att jag har någon överdriven kod och allt fungerar som planerat.</p>
    <h2 id="kmom03">Kmom03</h2>
    <p>Kmom03 text</p>
    <h2 id="kmom04">Kmom04</h2>
    <p>Kmom04 text</p>
    <h2 id="kmom05">Kmom05</h2>
    <p>Kmom05 text</p>
    <h2 id="kmom06">Kmom06</h2>
    <p>Kmom06 text</p>
    <h2 id="kmom07">Kmom07/10</h2>
    <p>Kmom07/10 text</p>
</div>
{% endblock %}
