{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
<h1>Report</h1>
<div class="text-container">
    <h2 id="kmom01">Kmom01</h2>
    <p>I detta kursmoment har vi satt ihop en me-sida med hjälp av Symfony.</p>
    <p>Jag har lite tidigare erfarenhet med objektorientering då vi har jobbat med det innan Python.</p>
    <p>Det kommer bli nytt för mig att hålla på med det innan PHP men jag ser fram emot att lära mig det på bästa sätt möjligt.</p>
    <p>PHP klassen är ganska så lika i utseende till Pythons enligt mig.</p>
    <p>För att kunna skapa en klass inom php så behöver du först ha koll på hur en klass skapas.</p>
    <p>Efter det så behöver du förstå att en klass kan ha variabler och funktioner inom sig.</p>
    <p>Inom sin klass kan ma ha datan som public, private eller protected. Men försök ha private som standard för säkerhetens skull.</p>
    <p>Med dessa förståelse om PHP klasser så har man en stadig grund att bygga vidare på.</p>
    <p>Strukturen för uppgiften me/report kändes lite skrämmande när man kollade på det första gången.</p>
    <p>Men efter att man förstå vart man ska vara och hur det fungerar tillsammans så var det inte lika skrämmande.</p>
    <p>Jag tycker att det är bra uppdelat och det tog inte så lång tid att förstå hur det fungerade tillsammans.</p>
    <p>Men det kommer nog bli mycket svårare ju mer vi jobbar med denna kursen.</p>
    <p>Efter att ha skummat igenom artiklen "PHP The Right Way" så skulle jag inte säga att jag har hittat något som har varit mer intressant eller värdefullt än de andra.</p>
    <p>Jag tvekar inte på att artiklen kommer vara till stort använding senare i kursen men just nu för mig så är det bara ord i en artiklen.</p>
    <p>Jag har svårt att ta lärdom av något om jag inte kan jobba med det samtidigt.</p>
    <p>Men något som jag tycker är viktigt med artiklen är att jag har den till hands om jag skulle stötta på ett problem eller om jag behöver hitta en lösning.</p>
    <p>Mitt "TIL" för detta kursmoment är hur vi använder Symfony för att skapa webbsidor.</p>
    <p>Jag har inte jobbat med Symfony tidigare så det var en ny kunskap att lära sig hur man satte upp det för att det skulle fungera som man ville.</p>
    <h2 id="kmom02">Kmom02</h2>
    <p>I detta kursmoment har vi jobbat med klasser i PHP</p>
    <p>I PHP använder vi arv för att låta en subklass ärva metoder och egenskaper från en basklass genom att skriva "extends", vilket gör att den nya klassen kan använda och eventuellt modifiera funktioner som redan finns definierade i basklassen.</p>
    <p>Istället för arv kan man med komposition bygga upp objekt genom att inkludera andra objekt som egenskaper, vilket skapar en "har-en" relation där man återanvänder kod utan att nödvändigtvis ärva från en annan klass.</p>
    <p>Ett interface är i princip ett kontrakt som säger att om man implementerar interfacet med "implements", måste klassen definiera de metoder som interfacet specificerar, utan att ge någon direkt implementation.</p>
    <p>Och så har vi traits, som liknar en form av återanvändning där man med "use" i en klass inkluderar metoder från en trait, så att flera klasser kan dela samma metoder utan att behöva vara i samma arvskedja.</p>
    <p>Dessa konstruktioner hjälper oss att skriva ren och modulär kod, vilket gör det enklare att underhålla och utveckla större applikationer.</p>
    <p>För att lösa denna uppgiften så började jag med att skapa mina klasser, och då följde jag bara kraven och använde övningens klasser för att få en bra start.</p>
    <p>Efter att klasserna hade en grund så skapade jag min Controller till webbsidorna och börja fylla på dem med datan.</p>
    <p>Och efter mycket om och men så fick jag något som kallades duga.</p>
    <p>Jag är faktiskt ganska nöjd med koden som jag fick tillslut. Det känns inte som att jag har någon överdriven kod och allt fungerar som planerat.</p>
    <p>En förbättringspotential som jag ser är användningen av "riktiga" kort istället för symbolen för korten.</p>
    <p>Jag tror att användningen av riktiga kort hade lyft webbsidans "värde" och det hade blivit lite snyggare.</p>
    <p>Av någon anledning så tycker jag att jobba med Symfony och klasser än så länge har varit väldigt krångligt.</p>
    <p>Jag kan inte sätta punkt på vad exakt det är just nu men det har varit småproblem för mig hela tiden som har dödat lite av motivationen.</p>
    <p>Men jag tror att ja kommer få bättre koll på allt ju mer vi fortsätter arbeta med det.</p>
    <p>Mitt "TIL" för detta kursmoment är bara en djupare förståelse av klasser i PHP.</p>
    <p>Jag var lite orolig i början av kursmomentet att dessa klasser skulle vara helt annorlunda från de jag har lärt mig i tidigare kurser.</p>
    <p>Till min lättnad så var det väldigt likt i strukturen till de som jag redan har arbetat med.</p>
    <h2 id="kmom03">Kmom03</h2>
    <p>I detta kursmoment har vi jobbat med att skapa av ett spel.</p>
    <p>Att rita upp flödesschema och psudeokod var ett bra verktyg för att kunna planera sitt arbete.</p>
    <p>Personligen så tyckte jag att flödesschemat var det bästa sättet att göra det på för där tar man bort all "programeringslogik".</p>
    <p>Detta gör så att man kan visa det till vem som helst och de kommer att förstå hur flödes ska fungera.</p>
    <p>Psudeokoden tyckte jag va lite krångligare eftersom det inte fanns någon exakt stanard att följa men fortfarande rätt och fel.</p>
    <p>Och personligen så tycker jag inte att psudeokoden var mycket tydligare än ren kod. För någon annan kanske det är ett jättebra sätt att visualisera hur det ska se ut.</p>
    <p>Innan jag påbörjade att koda så använde jag mig av flödesschemat för att få en ide på vad som behövdes.</p>
    <p>Efter det så skapade jag klasser för dom delarna som jag inte redan hade.</p>
    <p>Klasserna i sig användes sedan för att skapa funktioner till både spelare och dealer samt hela strukturen bakom själva Blackjack-spelet.</p>
    <p>Jag är faktiskt väldigt nöjd med hur jag fick ihop det. Både klasserna och routsen innehåller ingen extra kod och jag tycker att det ser väldigt snyggt ut.</p>
    <p>Jag är speciellt nöjd med hur jag fick till stylingen på spelet och kortens utseende.</p>
    <p>En förbättringsmöjlighet som jag ser är att lägga till mer funktioner till spelet. Med mer tid hade jag säkert kunnat göra det men nu är det som det är.</p>
    <p>Min känsla av att koda i Symfony är lite blandad.</p>
    <p>På ena sidan av argumentet så är det smidigt och ganska så lätthanterligt när man har lite koll på vad man gör.</p>
    <p>Men tyvärr så är jag inte helt såld på PHP som kodningsspråk av okänd anledning.</p>
    <p>Detta gör så att jag inte kan uppskata allt som Symfony har att erbjuda.</p>
    <p>Mit "TIL" för detta kursmoment är vikten av att ha en bra struktur och plan innan man börjar sitt arbete.</p>
    <p>Tack vare flödesschemat och psudeokoden så visste jag redan innan jag började vad jag behövde och hur jag skulle dela upp allt.</p>
    <p>Detta sparade en hel del tid och om jag lär mig att använda detta i huvudet till framtida uppgifter så tror jag att det komemr gå mycket smidigare.</p>
    <h2 id="kmom04">Kmom04</h2>
    <p>I detta kursmoment har vi jobbat med att testa vår kod samt våra klasser med PHPUnit.</p>
    <p>Det var till en början lite klurigt att skriva testerna till koden eftersom jag inte riktigt visste vart jag ville börja.</p>
    <p>Men så fort jag började tänka ett steg längre så var det ganska så uppenbart tycker jag.</p>
    <p>Eftersom jag redan vet vad mina klasser gör för något så var det bara att skapa senarion där funktionerna i mina klasser testades.</p>
    <p>PHPUnit tycker jag är ett väldigt bra sätt att förstå på ett djupare sätt varför sasker fungerar som det gör.</p>
    <p>Jag lyckades få 100% kodtäckning på alla mina klasser på allt.</p>
    <p>Eftersom kravet var på 70% så tänkte jag att man kan lika gärna göra de sista 30% också.</p>
    <p>Jag gav mig inte på att skapa tester för kontrollerna men jag är väldigt nöjd med hur jag fick iordning allt på klasserna.</p>
    <p>Jag tyckte att min kod var bra "testbar" och det gick att kontrollera alla funktioner i varje klass.</p>
    <p>Jag tyckte inte att det var något som var svårare att testa än de andra så det måste ju betyda att det fanns lite till ingen förbättring för det.</p>
    <p>Men om jag kollar tillbaka på allt senare i livet så kanske jag kommer att hitta mycket förbättringsmöjligheter.</p>
    <p>Jag valde att skriva om lite kod för att underlätta för mina tester men om jag inte minns fel så var det ett par entaka meningar samt en funktion som delades upp.</p>
    <p>Jag hade alltid med mig i bakhuvudet att jag kanske behövde ändra något när jag skapade testerna men som det blev så hade jag en bättre grund än vad jag trodde.</p>
    <p>Jag skulle säga att testbar kod absolut räknas som "snygg och ren".</p>
    <p>Om din kod är testbar så betyder det ju att du har lagt upp allt på ett sätt där det går att köra alla olika senarion för att se om det håller ihop.</p>
    <p>Hade det inte gått att göra så ser det inte så snyggt och rent ut.</p>
    <p>Mitt "TIL" för detta kursmoment är att jag måste tro mer på det jag har skapat.</p>
    <p>Innan jag började med kursmomentet så var jag lite orolig över att jag behövde ändra på allt som jag har skapat av någon anledning.</p>
    <p>Nu när man har testat nästan allt som går så vet jag att min kod är bra skriven och håller ihop sig själv.</p>
    <p>Så jag tar en liten klapp på axlen och går vidare med lite mer självsäkerhet.</p>
    <h2 id="kmom05">Kmom05</h2>
    <p>I detta kursmoment har vi jobbat med databaser och ORM i Symfony.</p>
    <p>Övningen gick bra att jobba igenom eftersom jag satt och kollade på tidigare års genomgångar medans jag gjorde den.</p>
    <p>Tack vare det så fick jag svar på de småfrågor som annars brukar dyka upp när man jobbar med något nytt.</p>
    <p>Jag tror inte att det var något speciellt som jag reagerade på medans jag gjorde övningen, jag hade fullt upp att få till det rätt.</p>
    <p>I biblioteket så har man möjligheten att kolla igenom vad som existerar redan samt förmågan att lägga till nytt, ändra i det som finns och ta bort böcker.</p>
    <p>Jag valde och använda en SQLite databas för jag är van vid det och då gör det jobbet lite lättare för mig.</p>
    <p>Användargränssnittet använder sig av liknande struktur som jag redan har använt tidigare på webbsidan och därför passar det in väldigt bra.</p>
    <p>Det är tydlig navigering och mina vyer är lätttolkade och innehåller inte mer infomation än vad som behövs.</p>
    <p>Detta gjorde jag för att behålla min stilrena styling så att det matchar resten.</p>
    <p>Jag tyckte att det gick ganska så bra att jobba med ORM i CRUD men det var lite ovant att jobba med en databas utan att skriva SQL kod.</p>
    <p>Detta kan väll bero på att den senaste kursen vi gjorde va en databas kurs och då var man mer inställd på det.</p>
    <p>Så just nu är jag lite osäker på vilken metod jag föredrar för att jobba med databaser.</p>
    <p>Denna metod som vi använde oss av just nu kändes bättre men jag tror att jag personligen har mer kontroll genom att skriva SQL kod.</p>
    <p>Detta beror ju troligen på vana och jag behöver använda mig av ORM mer för att veta exakt.</p>
    <p>Mitt "TIL" för detta kursmoment är andra sätt att jobba med databaser.</p>
    <p>Innan detta kursmoment så visste jag inget om ORM så det var en ny kunskap för mig.</p>
    <p>Det får mig att undra lite mer på vad mer som går att göra med ramverk och vad framtiden kommer att lära mig!</p>
    <h2 id="kmom06">Kmom06</h2>
    <p>I detta kursmoment har vi jobbat med automatiserade tester med hjälp av Scrutinizer och PHPMetrics.</p>
    <p>Jag tycker att PHPMetrics är ett väldigt bra verktyg som ger en bra överblick på all kod som man har.</p>
    <p>Verktyget gjorde så att man lätt kan se vad man har för problem med sin kod och vad som behöver fixas.</p>
    <p>Det som jag uppskattade mest med verktyget är "blobsen" (cirklarna).</p>
    <p>Det gav en tydlig bild på vad som behövdes fixas till och det var lätt att förstå det också.</p>
    <p>Att koppla upp sig till Scrutinizer var väldigt lätt tack vare en bra guide på hur det skulle gå till.</p>
    <p>Min första känsla om Scrutinizer är att det är ett bra verktyg för att få en snabb överblick på allt.</p>
    <p>Dock så tyckte jag inte att det var så förklarande på visa delar och där var phpmetrics bättre.</p>
    <p>Efter mitt första bygge så fick jag ett betyg på 9.96 samt en kodtäckning på 22%.</p>
    <p>Så betyget var jag jättenöjd med men kodtäckningen behövde lite arbete för att kännas godkänd.</p>
    <p>Min syn på kodkvalitet är som en blandning mellan Scrutinizer och PHPMetrics.</p>
    <p>Jag tycker att det är en bra ide att ha ett totalbetyg med badges som Scrutinizer gör, men man behöver också kunna se exakta felmeddelanden för att skapa sig en bättre bild av felet.</p>
    <p>Därför tycker jag att det perfekta programmet hade varit en blandning av Scrutinizer och PHPMetrics.</p>
    <p>Då får vi både ett tydligt totalbetyg med viktiga synpunkter och felmeddelanden.</p>
    <p>Mitt "TIL" för detta kursmoment är hur vi jobbar med automatiserade tester för att underlätta för oss i framtiden samt hitta problem i koden.</p>
    <p>Tack vare dessa verktyg så kan vi ganska lätt återgärda problem innan vi skickar iväg något.</p>
    <p>Jag fick också en djupare förståelse för vad som behöver göras för att kod ska vara "testbar".</p>
    <h2 id="kmom07">Kmom07/10</h2>
    <p>Kmom07/10 text</p>
</div>
{% endblock %}
