{% extends 'base.html.twig' %}

{% block title %}Biblioteket{% endblock %}

{% block main %}
<h1>Biblioteket</h1>
<div class="card-list-container">
    <ul class="card-list">
        <li><a href="{{ path('library_list') }}">Visa alla böcker</a></li>
        <li><a href="{{ path('library_create') }}">Lägg till en ny bok</a></li>
    </ul>
</div>

<div class="text-container">
    <h2>Välkommen till det digitala biblioteket!</h2>
    <p>Här har du möjligheten att lägga till din favoritbok i vårt biblioteket.</p>
    <p>Du kan också redigera och ta bort böcker som kanske inte passar längre.</p>
    <p>Utforska möjligheterna genom att navigera dig runt på sidan!</p>
</div>

<a href="{{ asset('img/library.png') }}">
    <img src="{{ asset('img/library.png') }}" alt="">
</a>

{% endblock %}
